<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section class="hero is-dark is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to 'Demo Blog',root_path, class:"navbar-item"%>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <% if !user_signed_in?%>
              <%= link_to "Login", new_user_session_path, class:"navbar-item"%>
              <%= link_to "Sign Up", new_user_registration_path, class:"navbar-item"%>
            <%end%>
            <%= link_to "Create New Post", new_post_path, class:"navbar-item"%>
            <%= link_to "Users", postsby_index_path, class:"navbar-item"%>

            <% if user_signed_in?%>
            <%= link_to "Change Password", edit_user_registration_path, class:"navbar-item"%>
              <%= link_to 'Sign out', '/users/sign_out', :method => :delete,class:'navbar-item',data:{confirm:"Do you really want to log out?"} %>
            <%end%>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <%= yield :page_title %>
      </h1>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <% if user_signed_in?%>
            <h3>Hello <%= current_user.email[0..current_user.email.index("@")-1]%> !!</h3>
          <%end%>
        </div>
        
        <div class="navbar-end">
          <%= yield :page_footer %>
        </div>
      </div>
    </nav>
  </div>

</section>
    <%= yield %>
  </body>
</html>
